body{
	background-image: url('../back.png');
}
.modal-backdrop{
	background-color: transparent;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-header{
    border-bottom: 0px;
}
.modal-img{
    height: 300px;
}
.modal-msg{
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515e7e;
    text-align: center;
}
.modal-content{
    padding: 14px;
}
.modal-msg1{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515e7e;
    text-align: center;
}
.modal-msg2{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515e7e;
    text-align: center;
    padding-top: 18px;
}
.modal-body-div{
    text-align: center;
}
.redo{
	text-align: right;
	font-size: 24px;
    font-weight: bold;
	color: #515e7e;
	cursor: pointer;
}